.dot-badge__default
{
    background-color:#E9E9EA;
    color:#6D7278;
    font-weight: bold;
}

.dot-badge__success
{
    background-color:#E9F3DE;
    color:#6DD400;
    font-weight: bold;
}

.dot-badge__error
{
    background-color:#FBE8E8;
    color:#E02020;
    font-weight: bold;
}

.dot-badge__warning
{
    background-color:#FEEFE5;
    color:#FA6400;
    font-weight: bold;
}